* {
    padding: 0px;
    margin: 0px;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 2fr 6fr 2fr;
}

.panelTitle {
    border-bottom: 1px solid #bebebe;
    fill: azure;
}

#inventoryPanel {
    grid-column: 1;
    grid-row: 2;
    background-color: seagreen;
}

#upgradesPanel {
    grid-column: 2;
    grid-row: 2;
    background-color: rebeccapurple;
}

#resourcesPanel {
    grid-column: 3;
    grid-row: 2;
    background-color:blanchedalmond;
}

#saveAndLoadPanel {
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: aquamarine;
}

#eventPanel {
    grid-column: 1 / 4;
    grid-row: 1;
    border-bottom: 1px solid #bebebe;
    background-color: #eaf77e;
}

